<div class="jumbotron text-center border p-4">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Jot down your questions with answers!</p>
  <a href="/questions/add" class="btn btn-primary btn-md">Add a question</a>
</div>